policy_module(xcowsay, 1.0.0)

type xcowsay_t;
type xcowsay_exec_t;
application_domain(xcowsay_t, xcowsay_exec_t)
role staff_r types xcowsay_t;

gen_require(`


        type xcowsay_t;
        type xcowsay_exec_t;
        type staff_t;
        type fs_t;
        role staff_r;

')



domtrans_pattern(staff_t, xcowsay_exec_t, xcowsay_t)


#============= xcowsay_t ==============
allow xcowsay_t staff_t:unix_stream_socket connectto;
allow xcowsay_t fs_t:filesystem getattr;
